@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
body{

	background: hsl(30, 38%, 92%);
	margin: 0;

}

*{
	box-sizing: border-box;
}

.ext-cont{
	width: 70%;
	margin: 0 auto;
/*	height: 100vh;*/

	/*display: flex;
	justify-content: center;
	align-items: center;*/
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container{

	background: white;
	width:70%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border-radius: 13px;
  
}

.item img{

	width:450px;
	height: 675px;
	height: auto;
	vertical-align: top;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.cont-child{
	display: flex;
	flex-direction: column;
	margin-top: 2.3em;
}

.item1{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 5px;
	font-size: 1.2rem;
/*	border:2px solid black;*/
	color: #78797E;

}

.item2{
	font-family: 'Fraunces', serif;
	font-weight: 700;
	font-size: 2.7rem;
}

.item2 p{
	width: 66%;
/*	background: red;*/
	margin: 0;
}

.item3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
	color: grey;
	border:2px sild black;
/*	border:2px solid green;*/

}

.item3 p{
	width: 100%;
	margin: 0;

}
.item4{
	font-family: 'Fraunces', serif;
	font-weight: 700;
	color: hsl(158, 36%, 37%);;
/*	border:2px solid red;*/

}

.big-num{
	font-size: 3.2rem;
}

.small-num{
	position: relative;
	left:7%;
	bottom:9px;
	color: grey;


}
.item5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size:1.25rem;
	width:100%;
	padding: 20px 0px;
	color: white;
	background: hsl(158, 36%, 37%);
	border: none;
	border-radius: 8px;
}

.last-item{
/*	border: 2px solid grey;*/
}

.item1,.item2,.item3,.item4,.last-item{
	
	width:80%;
	margin: 0 auto;
	margin-top: 28px;
}

.item5 img{
	width:6%;
}

.item5:hover{
	cursor: pointer;
	background: #1A4031;
}

.cart{

	margin-left: 15px;
	margin-right: 8px;
/*	font-size: 1rem;*/
}

.btn-txt{
	position: relative;
	bottom: 5px;
}

.attribution{
	font-size: 1rem;
	text-align: center;
	margin-top: 0.5em;
	/*position: absolute;
    bottom: 20px;
    left: 40%;*/
}

.attribution a{
 	color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1440px) and (min-width: 374px) {
  .item img{

	width:450px;
	vertical-align: top;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.container{

	width: 100%;
  
}

.item3 p{
	width: 85%;

}

}

@media screen and (max-width: 720px) and (min-width: 375px){
	.item img{
		width: 503px;
    	height: 450px;
    
    	margin-bottom: 50px;
    	border-top-left-radius: 12px;
    	border-top-right-radius: 12px;
    	border-bottom-left-radius: 0px;
}

	.container {
    	width: 100%;
    	background: white;
    	height: 75vh;
    	display: flex;
    	justify-content: center;
    	flex-direction: column;
    
    	border-radius: 13px;
	}

	.cont-child {
    	display: flex;
    	flex-direction: column;
    	position: relative;
    	margin-top: 0em;
    	bottom: 40px;
	}

	.item1, .item2, .item3, .item4, .last-item {
   		width: 88%;
    	margin: 0 auto;
    	margin-top: 18px;
}

.item2 p {
    width: 85%;
    /* background: red; */
    margin: 0;
}
.item3 p {
    width: 90%;
}

	.cart {
    margin-left: 8px;
    margin-right: 10px;
}

}

@media screen and (max-width: 375px) {
	/*.ext-cont{
	width: 100%;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;
}*/

.ext-cont {
     width: 90%; 
    margin: 0 auto;
    /* height: 100vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container{

	background: white;
/*	border: 1px solid red;*/
/*	width:90%;*/

/*	max-width: 700px;*/
	height: 84vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius:12px;

  
}

.item img{

	width:336px;
	height:330px;
	vertical-align: top;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.item1{
	letter-spacing: 5px;
	font-size: 1rem;
/*	border:2px solid black;*/
	color: #78797E;

/*	width:100%;*/
}

.item2{
	font-size: 2rem;
}

.item2 p{
	width: 95%;
/*	background: red;*/
	margin: 0;
}

.item3{
	font-size: 1rem;
	color: grey;
	border:2px sild black;
/*	border:2px solid green;*/

}
.item3 p{
	width: 100%;
	margin: 0;

}

.big-num{
	font-size: 2.2rem;
}
.small-num{
	position: relative;
	left:7%;
	bottom:6px;
	color: grey;

}

.item5{
	font-size:1rem;
	width:100%;
	padding: 15px 0px;
	color: white;
	background: hsl(158, 36%, 37%);
	border: none;
	border-radius: 8px;
	position: relative;
	bottom: 8px;
}

.cart{
	margin-left: 18px;
	margin-right: -5px;
/*	font-size: 1rem;*/
}

.btn-txt{
	position: relative;
	bottom: 3px;
}

.cont-child{
	margin-top: 0em;
/*	gap: 3px;*/
}

.attribution{
	font-size: 0.8rem;
	text-align: center;
	margin-top: 0.5em;
	 
	/*position: absolute;
    bottom: 20px;
    left: 40%;*/
}


}